<div class="lookbook-wrapper cf">
	<div class="lookbook-bg">
		<div class="summer-2015-bg active lb-bg"></div>
		<div class="spring-bg lb-bg"></div>
		<div class="summer-2014-bg lb-bg"></div>
		<div class="fall-bg lb-bg"></div>
	</div>
	<div class="lookbook-summer-2015 lookbooks" data-bg="summer-2015-bg">
		<div class="title titles">
			<h2>Summer 2015</h2>
			<a href="/pages/summer-2015/"><button>Click Here to View</button></a>
		</div>		
	</div>
	<div class="lookbook-spring lookbooks" data-bg="spring-bg">
		<div class="title titles">
			<h2>Spring 2015</h2>
			<a href="/pages/spring-2015/"><button>Click Here to View</button></a>
		</div>		
	</div>
	<div class="lookbook-summer-2014 lookbooks" data-bg="summer-2014-bg">
		<div class="title titles">
			<h2>Summer 2014</h2>
			<a href="/pages/summer-2014"><button>Click Here to View</button></a>
		</div>			
	</div>
	<div class="lookbook-fall lookbooks" data-bg="fall-bg">
		<div class="title titles">
			<h2>Fall 2014</h2>
			<a href="/pages/fall-2014/"><button>Click Here to View</button></a>
		</div>			
	</div>
</div>
